body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 800px; /* Adjust the max-width for larger screens */
        margin: 50px auto;
    }
}

.container {
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

textarea, input {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Responsive font size */
    width: 100%; /* Make text input and textarea full-width */
    resize: none;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultContainer {
    margin-top: 20px;
}

#resultText {
    font-weight: bold;
}

.output-box {
    background-color: beige;
    color: red;
    border-radius: 8px;
    padding: 20px;
}


